@charset "utf-8";
@font-face {
  font-family: 'FuturaStd-Bold';
  src: url('fonts/FuturaStd-Bold.eot?#iefix') format('embedded-opentype'),  url('fonts/FuturaStd-Bold.otf')  format('opentype'),
	     url('fonts/FuturaStd-Bold.woff') format('woff'), url('fonts/FuturaStd-Bold.ttf')  format('truetype'), url('fonts/FuturaStd-Bold.svg#FuturaStd-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}

/* Onyx styles */
/* bootstrap */
.container{
	max-width: 1080px;
}
.btn{
	padding: 12px 0;
}
.btn-primary{
	background: black;
	color: white;
	border-radius: 20px;
}
.btn-light{
	background: #ebebeb;
	color: black;
	border-radius: 20px;
}
.form-control{
	border-radius: 20px;
	border: 1px solid black;
	padding: 22px 22px;
}
/* bootstrap */
/* media queries */
@media (min-width:421px){
	#password-view {
		right: 5%;
	}
}
@media (max-width:420px){
	#password-view {
		right: 9%;
	}
}
/* media queries */
body,html{
	height: 100%;
}
body{
	 background-color: #e3e3e3;
	font-family: "Helvetica", sans-serif !important;
	color: black;
	font-weight: normal;
}
.onyx-title{
	font-family: 'FuturaStd-Bold';
}
#login .onyx-title img {
    max-height: 40px;
}
#login{
	height: 100vh;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items:center;
}
#login .onyx-title{
	margin-bottom: 8%
}
input#sigin-btn {
    min-width: 100%;
}
.password-input-form{
	position: relative;
}
#password-view{
	
	background-size: contain;
    color: black;
    width: 32px;
    height: 32px;
    position: absolute;
    z-index: 15000;
    top: 51%;
	cursor: pointer
}
.password-view{
	background: url('img/eye-regular.svg') no-repeat;
}
.password-no-view{
	background: url('img/eye-slash-regular.svg') no-repeat;
}
.password-recovery {
    padding-bottom: 5%;
    color: black;
}
.password-recovery a{
	font-weight: normal;
	color: black;
	text-decoration: underline;
}
/* internas */
.header {
    padding: 5px 0;
}
.header a{
	color: black;
}
.header .onyx-subtitle{
	font-weight: 800;
}
#profile{
	height: 75vh;
	display: flex;
	justify-content: center;
	align-items:center;
}
.buttons.col-12 a, .buttons.col-12 input[type="submit"] {
    width: 100%;
}
.buttons.fixed-bottom.col-12 {
    padding-bottom: 5%;
}