@charset "utf-8";
@font-face {
	font-family: 'FuturaStd-Bold';
	src: url('fonts/FuturaStd-Bold.eot?#iefix') format('embedded-opentype'), url('fonts/FuturaStd-Bold.otf') format('opentype'),  url('fonts/FuturaStd-Bold.woff') format('woff'), url('fonts/FuturaStd-Bold.ttf') format('truetype'), url('fonts/FuturaStd-Bold.svg#FuturaStd-Bold') format('svg');
	font-weight: normal;
	font-style: normal;
}
/* Onyx styles */
/* bootstrap */
.container {
	max-width: 768px;
}
.btn {
	padding: 12px 0;
}
.btn-primary {
	background: black;
	color: white;
	border-radius: 20px;
}
.btn-light {
	background: #ebebeb;
	color: black;
	border-radius: 20px;
}
.form-control {
	border-radius: 20px;
	border: 1px solid black;
	padding: 22px 22px;
}
.custom-select{
	border-radius: 20px;
	border: 1px solid black;
	min-height: 46px;
}
.bg-dark{
	background-color: black !important;
}
.bg-grey{
	background-color: #ededed;
}
/* bootstrap */
/* media queries */
@media (min-width:421px) {
#password-view {
	right: 5%;
}
}

@media (max-width:420px) {
#password-view {
	right: 9%;
}
}
/* media queries */
body, html {
	height: 100%;
}
body {
	background-color: #e3e3e3;
	font-family: 'Roboto', sans-serif;
	color: black;
	font-weight: normal;
	text-rendering: optimizeLegibility;
	
}
a, a:active, a:visited, a:focus{color: black}
a:hover{text-decoration: none}
.onyx-title {
	font-family: 'FuturaStd-Bold';
}
#login .onyx-title img {
	max-height: 40px;
}
#login {
	height: 100vh;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}
#login .onyx-title {
	margin-bottom: 8%
}
input#sigin-btn {
	min-width: 100%;
}
.password-input-form {
	position: relative;
}
#password-view {
	background-size: contain;
	color: black;
	width: 32px;
	height: 32px;
	position: absolute;
	z-index: 15000;
	top: 51%;
	cursor: pointer
}
#search-input-button {
   background-size: contain;
    color: black;
    width: 20px;
    height: 20px;
    position: absolute;
    z-index: 15000;
    top: 57%;
    cursor: pointer;
    right: 9%;
    background: url(img/search-solid.svg) no-repeat;
}
.password-view {
	background: url('img/eye-regular.svg') no-repeat;
}
.password-no-view {
	background: url('img/eye-slash-regular.svg') no-repeat;
}
.password-recovery {
	padding-bottom: 5%;
	color: black;
}
.password-recovery a {
	font-weight: normal;
	color: black;
	text-decoration: underline;
}
/* internas */
.header {
	padding: 5px 0;
}
.header a {
	color: black;
}
.header .onyx-subtitle {
	font-weight: 800;
}
#profile {
	height: 75vh;
	display: flex;
	justify-content: center;
	align-items: center;
}
.buttons.col-12 a, .buttons.col-12 input[type="submit"] {
	width: 100%;
}
.buttons.fixed-bottom.col-12 {
	padding-bottom: 5%;
}
.date-top {
	margin-top: 3%;
	margin-bottom: 3%;
}
#inspections {
	margin-top: 5%;
}
.inspection {
	max-width: 95%;
	margin-left: auto;
	margin-right: auto;
	padding-top: 5%;
	padding-bottom: 5%;
	margin-bottom: 3%;
}
.text-inspection {
	margin-left: 0px;
	padding-left: 0;
}
.inspection-hour {
	font-weight: bold;
}
.inspection-hour .check-inspection .fa-circle {
	color: #9b9b9b
}
.inspection-hour .check-inspection .fa-check-circle {
	color: #8bc423;
}
.inspection-address {
	font-size: 15px;
	line-height: 19px;
	padding-top: 3%;
}
.new {
    position: relative;
}
a.new-link.rounded-circle.bg-dark {
    background: black !important;
    color: white;
    width: 40px !important;
    height: 40px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* menu */
div#menu-reponsive {
    width: 100%;
    height: 100%;
    background: white;
    padding: 7% 7%;
    z-index: 100;
    position: absolute;
}
.header-menu {
    margin-bottom: 10%;
}
span.close-button {
    font-size: 1.5rem;
}
span.logo-menu img {
    max-height: 20px;
}
div#menu-reponsive ul, div#menu-reponsive ul li{
	list-style: none;
}
div#menu-reponsive ul {
    padding-left: 5%;
	font-size: 1.5rem;
}
div#menu-reponsive ul a{
	color: black;
}
div#menu-reponsive ul li {
    line-height: 2.5em;
}
div#menu-reponsive ul li a i{
	margin-right: 1%
}
div#menu-reponsive ul li a i {
    margin-right: 3%;
}
/* create */
#create{
	height: 75vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.img-create-inspection{
	border-radius: 10px;
}
.photo-input-form{
	float: left;
}
.hour-input-form{
	float: right;
}
.form-group.col-6.hour-input-form label {
    display: block;
}
.now-container {
    margin-top: 16%;
}
span.now {
    max-width: 50%;
    display: block;
    float: left;
}
span.tgl{
	 max-width: 61%;
    display: block;
    float: right;
    width: 72%;
}
label.tggl-on, label.tggl-off {
    width: 100%;
    border: 1px solid black;
    height: 17px;
    margin-top: 4px;
	border-radius: 9px;
	float: left;
}
span.tgl-white {
    width: 15px;
    height: 15px;
    border-radius: 100%;
    border: 1px solid black;
    float: left
}
span.tlg-black {
    width: 15px;
    height: 15px;
    border-radius: 100%;
    border: 1px solid black;
	background: black;
	float: right;
}
input#hour-cb {
    display: none;
}
/*/ content */
.row.header-content.bg-white {
    padding: 2% 0;
	font-size: 14px;
}
.col-6.img-content {
    padding-left: 0px !important;
}
.col-6.txt-content {
    padding-left: 0;
}
.col-6.img-content img{
	border-top-right-radius: 0.8rem !important;
    border-bottom-right-radius: 0.8rem !important;
}
.txt-content strong{
	display: block;
}
.txt-content .client{
	margin-bottom: 5%;
	display: block;
}
.btn-resume {
    margin-top: 7%;
}
.btn-resume a {
    color: white;
}
.header-body-content.col-12 {
    padding: 4% 15px;
}
.content-option a{
    padding: 10px;
	height: 70px;
	display: flex;
    align-items: center;
	justify-content: space-around;
	    margin-bottom: 6%;
}
.content-option.content-add{
    padding: 10px;
	height: 70px;
	display: flex;
    align-items: center;
	justify-content: space-around;
	    margin-bottom: 6%;
}
.content-add{
	border: solid 2px #979797;
	color: #979797
}
.content-option span.check-inspection.float-right .fa-check-circle{
	color: #8bc423;
}
.content-option span.check-inspection.float-right .fa-circle{
	color: #9b9b9b;
}
.col-6.option.left {
    padding-right: 5px;
}
.col-6.option.right {
    padding-left: 5px;
}
.lookup-type {
    width: 85%;
}
.lookup-type-t {
    line-height: 15px;
    padding-left: 8px;
    text-align: left !important;
    width: 60%;
}
#add-lookup-modal{
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 150;
	background: rgba(0, 0, 0, 0.7);
    top: 0;
}
div#add-lookup-modal .container {
    height: 100%;
    padding: 9%;
}
div#form-add-lookup {
    padding: 5%;
    border-radius: 15px;
    margin-top: 6%;
}
.col-12.header-lookup-add {
    font-size: 18px;
}
form#form-add {
    margin-top: 10%;
}
form#form-add .buttons {
    margin-top: 25%;
}
.buttons.col-12 span{
	width: 100%;
	cursor: pointer;
}

#edit-lookup-modal{
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 150;
	background: rgba(0, 0, 0, 0.7);
    top: 0;
}
div#edit-lookup-modal .container {
    height: 100%;
    padding: 9%;
}
div#form-edit-lookup {
    padding: 5%;
    border-radius: 15px;
    margin-top: 6%;
}
form#form-edit {
    margin-top: 10%;
}
form#form-edit .buttons {
    margin-top: 25%;
}
#detail-modal{
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 150;
	background: white;
    top: 0;
}
.title-detail, .add-item-btn {
    height: 100px;
    text-align: left;
    font-size: 20px;
}
.col-6.add-item-btn .btn {
    width: 100%;
}
/* add */
.option-content {
    width: 25px;
    height: 25px;
    display: inline-block;
    border: solid 1px #9b9b9b;
    margin: 0px 2px;
    text-align: center;
    border-radius: 0.5rem;
    text-transform: uppercase;
    line-height: 25px;
	color: #9b9b9b;
}
.option-active{
	background: black;
	color: white;
}
table#add-items .adds {
    font-size: 12px;
	cursor: pointer;
}
td.icon {
    width: 12% !important;
	cursor: pointer;
}
td.title {
    width: 38%;
    font-size: 14px;
	cursor: pointer;
}
span.quititem {
    width: 10px;
    display: inline-block;
    color: #9b9b9b;
    padding: 0 5px;
	font-weight: bold;
	cursor: pointer;
}
table#add-items tr:first-child td {
   border-top: 1px solid #979797;
}
#add-item-modal{
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 150;
	background: rgba(0, 0, 0, 0.7);
    top: 0;
}
#add-item-modal .container {
    height: 100%;
    padding: 9%;
}
div#form-add-item {
    padding: 5%;
    border-radius: 15px;
    margin-top: 6%;
}
form#form-add-item-modal {
    width: 100%;
    height: 60vh;
    margin-top: 10%;
}
ul.typeahead.dropdown-menu{
	line-height: 40px;
	border: none
}
ul.typeahead.dropdown-menu li.active, ul.typeahead.dropdown-menu li:hover{
	background: #ededed;
}
ul.typeahead.dropdown-menu li {
    padding: 0 15px;
}
#add-item-modal-add{
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 150;
	background: rgba(0, 0, 0, 0.7);
    top: 0;
}
#add-item-modal-add .container {
  /*  height: 100%;*/
}

.back-arrow {
    font-size: 35px;
    width: 25%;
    display: inline-block;
    vertical-align: middle;
}
.lookup-type-detail.mini-title {
    font-size: 14px;
    width: 67%;
    display: inline-block;
}
.type-item {
    font-size: 18px;
}
span.save-add-item {
    width: 100%;
}
.row.stars{
	color: black;
	border-top: 1px solid #eae9e9;
	border-bottom: 1px solid #eae9e9;
	padding-top: 10px;
	padding-bottom: 10px;
}
.row.tabs-header {
    font-size: 14px;
    padding: 10px 0;
}
.row.tabs {
    font-size: 12px;
    padding-top: 10px;
    padding-bottom: 10px;
	color: black;
}
.row.tabs-header .active{
	font-weight: bold;
}
.active-tab{
	display: block;
}
.inactive-tab{display: none}
.row.tabs-content {
    background: #e3e3e3;
    padding-top: 10px;
    padding-bottom: 10px;
    height: 66vh;
}
form.form-tabs {
    width: 100%;
    display: block;
}
#camera,#mic{
	width: 50px;
	height: 50px;
	line-height: 50px;
	font-size: 20px;
	background: black;
	color: white;
	display: inline-block;
	text-align: center;
	border-radius: 100%;
}
form.form-tabs .form-group {
    margin-bottom: 0.5rem;
}
#files img{
	border-radius: 20px;
}
#files .item-img {
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 2%;
}
.col-12.audio {
    margin-top: 1%;
}
.col-12.audio audio {
    width: 100%;
    margin: 1% 0;
}
/* report */
.report-header{
	line-height: 36px
}
a.add-report {
    width: 100px;
    padding: 5px 0;
}
.img-report {
    padding-left: 0px;
    padding-right: 0px;
}
.body-report{
	border-bottom: 1px solid #dad7d7
}
.address-report {
    padding-top: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid #dad7d7;
}
.title-report {
    font-size: 21px;
    font-weight: bold;
    padding: 15px 0;
}
.item-gallery{
	padding: 5px;
}
.item-gallery img{
	border-radius: 10px;
}
.table-report {
    padding-left: 10%;
    padding-right: 10%;
	    padding-top: 5%;
    padding-bottom: 5%;
}
.table-report-inner{
	background: #ededed;
    border-radius: 10px;
}
.text-report {
    margin-top: 2%;
    margin-bottom: 2%;
    padding: 0 7%;
}
.text-report .text-inner{
	border-radius: 10px;
	padding: 5%
}